    .jumbotron {
    background-color: #bfbfbf;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    display: inline-block;

  }
  h1{
    font-size: 18px;
    text-transform: uppercase;
    color: #303030;
  }
  .container-fluid {
    padding: 50px 50px;
  }
  .logo-small {
    color:#262626;
    font-size: 30px;
  }
  a{
    color:   #404040;
    font-size: 15px;
    text-decoration: none;
  }
  h4{
    color: black;
  }
  h2{
    color:black;
  }
 