body{
	background-image: url("background.png");	
	margin:0px;
	font-family: Verdana, sans-serif;
}
header{
	margin-left: 2px;
	width: 100%;
	height: 50px;
	overflow: hidden;
  	background-color: #203f7d;
  	position:fixed;
  	display:inline-block;
  	color: #fab549;
}
.navbar {
  margin-left: 2px;
  top:52px;
  overflow: hidden;
  background-color: #203f7d;
  position:fixed;
  display:inline-block;
  width: 100%;
}

.navbar a {
  float:left;
  display: block;
  color: #fab549;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding:10px 0px;
  margin-top:0px;
}
.sidebar{
 margin:0px;
}